@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
        /* ### Primary */

    --very-light-purple: hsl(260, 100%, 95%);
    --Light-purple: hsl(264, 82%, 80%);
    --Purple: hsl(263, 55%, 52%);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Very-light-grey: hsl(214, 17%, 92%);
    --Light-grey: hsl(0, 0%, 81%);
    --Grey: hsl(224, 10%, 45%);
    --Dark-grey: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    height: 100vh;
}
.wrapper-page{
    min-height: 100%;
    max-width: 100vw;
    background-color: var(--Very-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(2,auto);
    gap: 35px;
    
}
.card{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 30px 30px 50px 15px var(--Light-grey);
    position: relative;
}
.card .author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.card .imgAuthor{
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.card .name{
    font-weight: 600;
}
.card .name span{
    font-weight: 500;
    font-size: 0.7rem;
}
.card .status {
    font-weight: 600;
    font-size: 1.26rem;
    margin: 15px 0;
}
#daniel{
    grid-column: 1 / 3;
    background-color: var(--Purple);
    color: var(--very-light-purple);
}
#daniel .imgAuthor{
    border: 2px solid var(--Light-purple);
}
#daniel .content{
    position: relative;
    z-index: 1;
}
#daniel .bgCard{
    position: absolute;
    z-index: 0;
    right: 50px;
    top: 0px;
}

#jonathan{
    background-color: var(--Dark-grey);
    color: var(--Very-light-grey);
}
#kira{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: var(--White);
    color: var(--Dark-grey);
}
#jeanette{
    background-color: var(--White);
    color: var(--Dark-grey);
}
#patrick{
    grid-column: 2 / 4;
    background-color: var(--Dark-blue);
    color: var(--Light-grey);
}
#patrick .imgAuthor{
    border: 2px solid var(--Purple);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media (max-width:375px){
    .wrapper-page{
        padding: 30px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
    }
}